$cinza: #f6f4f3;
$azul: #276fbf;
$vermelho: #f72c25;

@font-face {
    font-family: 'Montserrat';
    src: url('../../../public/assets/fonts//Montserrat/Montserrat-Regular.otf') format('truetype' or 'opentype');
}